@use '../../../styles/variables'
@use '../../../styles/mixins' 
    
#information
    @include mixins.center
    width: 80%
    padding: 1rem
    margin: 3rem 0
    text-align: left
    flex-direction: column
    border-radius: variables.$card-border-radius
    background-color: variables.$bg-color-secondary

    .banner-container
        text-align: center

    .banner-img
        max-width: 90%
    
    
    .title
        padding: .7rem
        font-size: 2rem
        color: variables.$text-color-secondary
        border-radius: variables.$card-border-radius

    .info-card
        @include mixins.center
        margin: .3rem 0
        gap: 1.4rem
        width: 100%
        justify-content: flex-start


    .info-card p
        font-size: .9rem
        font-weight: bold
        color: variables.$text-color
        position: relative
        cursor: pointer

    .info-card p:after 
        content: ""
        bottom: 0
        left: 0
        width: 0%
        height: .12rem
        position: absolute
        background-color: darkorange
        transition: width 0.5s ease 

    .info-card p:hover:after
        width: 100%
    
        

    .info-card img
        width: 8%
        height: 8%
        margin: .5rem

    #communication-png
        width: 11%
        margin-right: -.4rem

    .qr-code
        width: 30%
        margin-top: 3rem
        transition: transform 0.3s
        box-shadow: variables.$box-shadow
        border-radius: variables.$card-border-radius
        &:hover
            transform: scale(1.2)
           
            

        

